<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.html' %}
</head>
<body>
{% with heading =post.title ,subheading=post.subtitle %}
{% include 'header.html' %}
{% endwith %}


<!-- Post Content-->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div>{{post.body}}</div>
            </div>
        </div>
    </div>
</article>

{% include 'footer.html' %}
{% include 'js.html' %}

</body>
</html>
